body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
    align-content: center;
    background-image: url("https://media1.giphy.com/media/nLH7f5K1Tb1sY/giphy.gif");
    background-repeat: repeat-y repeat-x;
}

h1 {
    position: relative;
    align-content: center;
    margin: auto;
    color: floralwhite;
    font-size: 500%;
}

img {
    margin: auto;
}